body{
    background-color: black;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    font: size 15px;
    text-align: center;
}

.container {
 
    margin-left: 25%;
    margin-right: 25%;
}

#headerImg {
    opacity: .7;
}

#headerPic{
    height: 400px;
    width: 200px;

}

#backgroundPic {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left:0px;
    top:0px;
}

/*Game Start*/
#startBtn {
font-size: 30px;
margin-top: 5%;
margin-bottom: 5%;
font-family: 'Permanent Marker', cursive;
color: goldenrod;
background: black;
opacity:0.8;
}



h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: goldenrod;
}
p{
    padding-bottom: 10px;
    font-size: 18px;
}

/*Questions*/
#game-play {
    background-color: black;
    opacity: 0.8;
}

#timer {
    font-size: 20px;
    border-bottom: 2px solid goldenrod;
    padding: 2px;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    
}
#currentQuestion {
    font-size: 20px;
    border-bottom: 2px solid goldenrod;
    color: whitesmoke;
}
.question {
    padding-top: 5%;
    font-size: 30px;
    border-bottom: 2px solid goldenrod;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
}
.answerList{
    font-size: 30px;
    border-bottom: 2px solid goldenrod;
    color: whitesmoke;
}
/*Answers*/
#correctedAnswer {
    font-size: 20px;
    background-color: goldenrod;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
}
#message {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: whitesmoke;
}


/*Scoreboard*/
#finalMessage {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
    color: whitesmoke;
}
#correctAnswers {
    font-size: 20px;
    color:whitesmoke;
}
#wrongAnswers{
    font-size: 20px;
    color:whitesmoke;
}
#unanswered {
    font-size: 20px;
    color:whitesmoke;
}

#startAgainBtn {
    font-size: 40px;
    border: solid 5px goldenrod;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    margin-top: 10px;
}

/*Responsiveness*/
@media screen and (max-width:640px){
	.container{
		width: 80%;
		size: 200%;
    }}
    
.thisChoice:hover{
    background-color: darkred;
    color: whitesmoke;
    padding: 5px;
}