body{
    background-image: url(./assets/images/JusticeLeague.jpg);
    width: 100%;
    text-align: center;
}

.container {
 
    margin-left: 25%;
    margin-right: 25%;
}

img {
    position: relative;
}

/**#backgroundPic {
    background-image: url();
    z-index: 0;
    left:0px;
    top:0px;
}

/*START GAME PAGE*/
#startBtn {
font-size: 30px;
margin-top: 5%;
margin-bottom: 5%;
font-family: 'Permanent Marker', cursive;
}



h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: goldenrod;
}
p{
    padding-bottom: 10px;
    font-size: 18px;
}

/*QUESTION PAGE*/
#game-play {
    background-color: black;
}

#timer {
    font-size: 20px;
    border-bottom: 2px solid goldenrod;
    padding: 2px;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    
}
#currentQuestion {
    font-size: 20px;
    border-bottom: 2px solid goldenrod;
    color: whitesmoke;
}
.question {
    padding-top: 5%;
    font-size: 40px;
    border-bottom: 2px solid goldenrod;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
}
.answerList{
    font-size: 30px;
    border-bottom: 2px solid goldenrod;
    color: whitesmoke;
}
/*ANSWER PAGE*/
#correctedAnswer {
    font-size: 20px;
    background-color: goldenrod;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
}
#message {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: whitesmoke;
}


/*SCOREBOARD*/
#finalMessage {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
    color: whitesmoke;
}
#correctAnswers {
    font-size: 20px;
}
#wrongAnswers{
    font-size: 20px;
}
#unanswered {
    font-size: 20px;
}

#startAgainBtn {
    font-size: 40px;
    border: solid 5px goldenrod;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
}

/*RESPONSIVENESS*/
@media screen and (max-width:640px){
	.container{
		width: 80%;
		size: 200%;
    }}
    
.thisChoice:hover{
    background-color: darkred;
    color: whitesmoke;
    padding: 5px;
}